*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #040f16;
  color: #fbfbff;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.cursor{
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.section-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;
}

#about-me{
  background-image: url('../img/low-poly-mountain.jpg');
  background-position: right;
  background-repeat: no-repeat;
}

.logo{
  font-weight: 400;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  color: black;
  z-index: 100;
}

.main-title{
  align-self: center;
  font-size: 5rem;
  font-weight: 600;
  z-index: 100;
  -webkit-text-stroke: 2px black;
  color: transparent;
  position: absolute;
  top: calc(50% - 2rem);
}


#projects{
  padding: 1em;
  justify-content: space-around;
  background-color: white;
  filter: invert(1);
}

.project-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: whitesmoke;
  min-height: 22em;
  text-align: center;
  opacity: 1;
  border-radius: 0.5em;
  background: black;
  margin-top: 1em;
  cursor: pointer;
}

.project-container:hover{
  filter: grayscale(25%) invert(1);
  -webkit-filter: grayscale(25%) invert(1);
  color: #fbfbff;
  opacity: 1;
  background-color: transparent;
}

.left{
  align-self: flex-start;
}

.right{
  align-self: flex-end;
}

.tech{
  background-color: #947c8c;
  backdrop-filter: grayscale(0);
  width: auto;
  height: auto;
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.5em;
  color: white;
}

.tech-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#contacts{
  background-color: #fbfbff;
  color: #040f16;
  flex-direction: row;
  align-items: center;
  min-height: 90vh !important;

}

#contacts-svg{
  width: 60%;
  align-self: flex-start;
  padding-top: 5rem;
  box-sizing: border-box;
}

#contacts .flex-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 20rem;
    padding-left: 1rem;
}

#contacts h3{
  font-size: 3rem;
  color: #040f16;
  font-weight: 400;
}

#contacts .flex-column ul{
  list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

#contacts .flex-column ul li{
  font-size: 1.25rem;
  width: fit-content;
  max-width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 1rem;
}

footer{
  background-color: #fbfbff;
  color: #040f16;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}

#my-pantry:hover{
  background: url("../img/my-pantry.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#my-pantry:hover > :nth-child(1n){
  transition: 0.5s ease-in-out;
  opacity: 0;
}

#debright-space-program:hover{
  background-image: url("../img/debright-space-program.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#debright-space-program:hover > :nth-child(1n){
  transition: 0.5s ease-in-out;
  opacity: 0;
}

#socketchat:hover{
  background-image: url("../img/socketchat.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#socketchat:hover > :nth-child(1n){
  transition: 0.5s ease-in-out;
  opacity: 0;
}

#karonte:hover{
  background-image: url("../img/karonte-portfolio.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#karonte:hover > :nth-child(1n){
  transition: 0.5s ease-in-out;
  opacity: 0;
}

#new-tab-page:hover{
  background: url("../img/new-tab-page2.png"); 
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#new-tab-page:hover > :nth-child(1n){
  transition: 0.5s ease-in-out;
  opacity: 0;
}

@media screen and (max-width: 768px){
  .main-title{
    text-align: center;
  }

  .project-container{
    width: 100%;
  }

  #contacts{
    flex-direction: column;
    align-items: center;
  }

  #contacts-svg{
    width: 100%;
    height: auto;
    align-self: center;
  }
  
  #contacts .flex-column{
      padding-left: 0;
      align-items: center;

  }

  #contacts .flex-column ul{
    align-items: center;
  }
}