*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #040f16;
  color: #fbfbff;
  font-family: Arial, Helvetica, sans-serif;
}

.cursor{
  width: 0;
  height: 0;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 10000;
  pointer-events: none;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
}

.section-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2em;
  box-sizing: border-box;
}

#about-me{
  background-color: #fbfbff;
}

.logo{
  font-weight: 400;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  color: #275dad;
  z-index: 100;
}

#about-exploration-svg{
  width: auto;
  height: 30em;
  position: absolute;
  bottom: 0;
  opacity: 0.75;
  align-self: center;
  padding-left: 3rem;
}

.main-title{
  align-self: center;
  font-size: 5rem;
  font-weight: 600;
  z-index: 100;
  -webkit-text-stroke: 2px #040f16;
  color: transparent;
  position: absolute;
  top: calc(50% - 2rem);
}


#projects{
  justify-content: space-around;
  
}

.project-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  padding: 1em;
  box-sizing: border-box;
  -webkit-filter: grayscale(100%);
  -webkit-transition: 1s ease-in-out;
  color: whitesmoke;
  min-height: 16em;
  text-align: center;
  opacity: 0.5;
}

.project-container:hover{
  -webkit-filter: grayscale(25%);
  color: #fbfbff;
  opacity: 1;
}

.left{
  align-self: flex-start;
  margin-left: -2em;
}

.right{
  align-self: flex-end;
  margin-right: -2em;
}

.tech{
  background-color: #275dad;
  width: auto;
  height: auto;
  padding: 0.5em;
  border-radius: 1em;
  margin-left: 1em;
  color: white;
}

.tech-container{
  display: flex;
  justify-content: center;
}

#contacts{
  background-color: #fbfbff;
  color: #040f16;
  flex-direction: row;
  align-items: center;
  min-height: 90vh !important;

}

#contacts-svg{
  width: 60%;
  align-self: flex-start;
  padding-top: 5rem;
  box-sizing: border-box;
}

#contacts .flex-column{
  width: 40%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 20rem;
    padding-left: 1rem;
}

#contacts h3{
  font-size: 3rem;
  color: #040f16;
  font-weight: 400;
}

#contacts .flex-column ul{
  list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

#contacts .flex-column ul li{
  font-size: 1.25rem;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 2rem;
  padding: 1rem;
}

footer{
  background-color: #fbfbff;
  color: #040f16;
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
}

#my-pantry{
  background-color: #000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/my-pantry.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  height: 19em;
}

#debright-space-program{
  background-image: url("../img/debright-space-program.png");
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
  height: 19em;
}

#socketchat{
  background-image: url("../img/socketchat.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

#karonte{
  background-image: url("../img/karonte-portfolio.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat-x;
}

#new-tab-page{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/new-tab-page2.png"); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 18.5em;
}